[Unit]
Description=Boat Instrument running under flutter-pi
After=avahi-daemon.service
Wants=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/flutter-pi --release /usr/share/boatinstrument-flutter-pi

[Install]
WantedBy=multi-user.target

