version: 2.1
executors:
  debian11-amd64:
    docker:
      - image: amd64/debian:bullseye
    resource_class: medium
  debian11-arm64:
    docker:
      - image: arm64v8/debian:bullseye
    resource_class: arm.medium
  debian12-amd64:
    docker:
      - image: amd64/debian:bookworm
    resource_class: medium
  debian12-arm64:
    docker:
      - image: arm64v8/debian:bookworm
    resource_class: arm.medium
  debian12-arm32:
    docker:
      - image: arm32v7/debian:bookworm
    resource_class: arm.medium

commands:
  setup:
    steps:
      - run:
          name: Create user
          command: useradd -m build
      - run:
          name: Create artifact dir
          command: su - build -c "mkdir /tmp/artifacts"
      - checkout:
          name: Checkout
          path: /home/build/boatinstrument
      - run:
          name: Set ownership
          command: chown -R build:build /home/build/boatinstrument
      - run:
          name: Install dependancies
          command: |
            apt update
            apt upgrade -y
            apt install -y \
              clang cmake curl fakeroot fontconfig git gstreamer1.0-alsa gstreamer1.0-libav \
              gstreamer1.0-plugins-bad gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-ugly \
              libdrm-dev libegl1-mesa-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev libglu1-mesa libgstreamer1.0-dev \
              libgstreamer-plugins-bad1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer1.0-dev libgtk-3-dev \
              libinput-dev liblzma-dev libsystemd-dev libudev-dev libvulkan-dev libxkbcommon-dev m4 ninja-build \
              pkg-config unzip wget xz-utils zip
            apt install -y libstdc++-12-dev || true
            apt install -y libseat-dev || true
            apt install -y lib32stdc++6 || true
  install_flutter:
    steps:
      - run:
          name: Install Flutter
          command: su - build -c "/home/build/boatinstrument/.circleci/install_flutter"
  package_bi:
    steps:
      - run:
          name: Package Boatinstrument
          command: su - build -c "/home/build/boatinstrument/.circleci/package_bi ${ARCH} ${CPUS}"
  package_fpi:
    steps:
      - run:
          name: Package flutter-pi
          command: su - build -c "/home/build/boatinstrument/.circleci/package_fpi"
  store:
    steps:
      - store_artifacts:
          path: /tmp/artifacts
  full_build:
    steps:
      - setup
      - install_flutter
      - package_bi
      - package_fpi
      - store
jobs:
  debian11-amd64:
    executor: debian11-amd64
    environment:
      - CPUS: generic
    steps:
      - full_build
  debian11-arm64:
    executor: debian11-arm64
    environment:
      - CPUS: generic pi3 pi4
    steps:
      - full_build
  debian12-amd64:
    executor: debian12-amd64
    environment:
      - CPUS: generic
    steps:
      - full_build
  debian12-arm64:
    executor: debian12-arm64
    environment:
      - CPUS: generic pi3 pi4
    steps:
      - full_build
  debian12-arm32-bi-fpi:
    executor: debian12-arm64
    environment:
      - CPUS: generic
      - ARCH: arm
    steps:
      - setup
      - install_flutter
      - package_bi
      - store
  debian12-arm32-fpi:
    executor: debian12-arm32
    steps:
      - setup
      - package_fpi
      - store

workflows:
  build:
    filters:
      branches:
        only: release
    jobs:
      - debian11-amd64:
          filters:
            branches:
              only: release
      - debian11-arm64:
          filters:
            branches:
              only: release
      - debian12-amd64:
          filters:
            branches:
              only: release
      - debian12-arm64:
          filters:
            branches:
              only: release
      - debian12-arm32-bi-fpi:
          filters:
            branches:
              only: release
      - debian12-arm32-fpi:
          filters:
            branches:
              only: release

